@charset "UTF-8";
@font-face {
  font-family: "futura-pt-medium";
  src: url(https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-medium.b650e9c2aaf6.woff2?51acc583ad04);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "futura-pt";
  src: url(https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-book.2dadbb3c03c1.woff2?51acc583ad04);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "arial";
  src: url(fonts/arial.ttf);
  font-style: normal;
  font-weight: 400;
}
.container {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  font-size: 1rem;
  font-family: "futura-pt-medium", sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: #F3F3F3;
  overflow-x: hidden;
}
.container__main {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 100em) {
  .container {
    width: 100vw;
  }
  .container__main {
    max-width: 100rem;
    margin: 0 auto;
    background-color: #fff;
  }
}
.media {
  display: none;
}
.media__background {
  background-color: #000;
  opacity: 0.8;
  z-index: 100;
}
.media__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 80px 25px;
  z-index: 120;
}

.media__background,
.media__content {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.button-close__video {
  display: block;
  position: relative;
  right: -16px;
  width: 64px;
  height: 64px;
  background: url("IMG/icon-close.svg") center no-repeat;
  background-size: 32px 32px;
  margin: 0 0 0 auto;
  cursor: pointer;
}

.hint__context {
  color: #000;
  font-family: arial;
  font-size: 12px;
  padding: 3px;
  text-align: center;
}
.hint__context_hidden {
  display: none;
}

.button-close__video:hover .hint__context_visible {
  display: block;
  width: 100%;
  position: relative;
  top: -20px;
  background-color: #fff;
}

.content__video {
  display: none;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  color: #fff;
}

#video-content.opened,
.content__video.opened {
  display: block;
}

.video {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media screen and (min-width: 64em) {
  .media__content {
    padding: 80px 50px;
  }
}
@media screen and (min-width: 80em) {
  .media__content {
    padding: 80px calc((100vw - 1000px)/2);
  }
}
.menu {
  display: flex;
  flex-direction: column;
}
.menu__main {
  position: relative;
  display: flex;
  align-items: flex-start;
  color: #000;
  padding: 1.21875rem 1.25rem;
  background-color: #fff;
}
.menu__main__logo {
  margin-right: 2em;
  z-index: 35;
}
.menu__main__logo__image {
  display: block;
  width: 3.75em;
  height: 1.75em;
}
#btn:checked + .menu__main__logo .menu__main__logo__image g {
  fill: #fff;
  transition-property: fill;
  transition-duration: 0.35s;
}
#btn:not(:checked) + .menu__main__logo .menu__main__logo__image g {
  fill: #000;
  transition-property: fill;
  transition-duration: 0.35s;
}

@media screen and (min-width: 64em) {
  .menu__main {
    padding-bottom: 1.28125rem;
  }
  .menu__main__logo {
    margin-right: 1.5625rem;
  }
}
@media screen and (min-width: 80em) {
  .menu__main {
    padding-right: 2.5rem;
  }
  .menu__main__logo {
    margin: 0 1.25rem;
  }
}
.button {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 35;
}
.button__input {
  display: none;
}
.button__label {
  position: relative;
  top: 2.5px;
  font-size: 1.25rem;
  cursor: pointer;
}
.button__label__arrow {
  position: absolute;
  background: url("IMG/icon-arrow.svg") 0 -1.5px/contain no-repeat;
  transform: scaleY(0.8);
  width: 10px;
  height: 8px;
  top: 14px;
  right: -18px;
}

@media screen and (min-width: 64em) {
  .button {
    display: none;
  }
}
#btn:checked ~ .button * {
  color: #fff;
  transition-property: color;
  transition-duration: 0.35s;
}

#btn:not(:checked) ~ .button * {
  color: #000;
  transition-property: color;
  transition-duration: 0.35s;
}

#btn:checked ~ .button > .button__label > .button__label__arrow {
  background: url("IMG/icon-arrow-white.svg") 0 -1.5px/contain no-repeat;
  transform: scaleY(0.8) rotateZ(180deg);
  top: 13px;
}

.nav {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
  padding: 70px 15px 0 15px;
  background-color: blue;
  z-index: 20;
}

#more {
  display: none;
}

.list,
.group__item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item,
.item__link_small,
.link__name_small {
  margin-bottom: 1em;
  font-size: 1.25rem;
}

.item__more {
  display: none;
}

.more__hidden {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.5rem;
  position: relative;
}

.more__icon::after, .more__icon::before {
  content: "";
  display: block;
  background-color: currentColor;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.more__icon::after {
  width: 0.125rem;
  height: 0.75rem;
}
.more__icon::before {
  width: 0.75rem;
  height: 0.125rem;
}

#more:checked ~ .list > .item__more > .name_special .more__hidden .more__icon::after {
  visibility: hidden;
}

.item_special {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 0;
}

.link__name_headline {
  padding: 0.625rem 0;
}

.group__item_special {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.25rem;
  overflow-x: auto;
}

.group__item__shadow::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 1.25rem;
  width: 2.5rem;
  background-image: linear-gradient(90deg, rgba(0, 0, 255, 0), blue);
}

.item__link,
.item__link_small,
.link__name_headline,
.link__name_special,
.link__name_text {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
}

.link__name_special,
.link__name_text,
.item_row {
  font-size: 1rem;
}

.item_row {
  min-width: 15em;
  padding: 0 0.625rem;
}

.item_row-special {
  margin-left: -0.625rem;
}

.link__name_text {
  font-family: "futura-pt", sans-serif;
}

.item_small,
.item__link_small,
.link__name_small {
  font-size: 0.875rem;
}

#btn:checked ~ .nav {
  transform: translateY(0);
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
}

#btn:not(:checked) ~ .nav {
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
}

@media screen and (min-width: 64em) {
  #btn:not(:checked) ~ .nav {
    position: relative;
    padding: 0;
    transform: translateY(0);
    transition-duration: 0s;
    background-color: #fff;
  }

  .item__more {
    display: block;
  }

  .item__link,
.item__link_small,
.link__name_headline,
.link__name_special,
.link__name_text {
    color: #000;
  }

  .list {
    display: flex;
    flex-flow: row wrap;
  }

  #more:not(:checked) ~ .list > .item_special,
.group__item__shadow::after {
    display: none;
  }

  .item__link_small,
.link__name_small {
    margin-bottom: 0;
  }

  .link__name_small {
    font-family: "futura-pt", sans-serif;
    font-size: 1rem;
    font-weight: normal;
  }

  .name_small-special {
    display: block;
    margin-bottom: 1px;
    font-family: "futura-pt-medium", sans-serif;
    font-size: 0.875rem;
  }

  .item {
    margin: 0 0.3125rem;
    padding: 0 0.625rem;
  }

  .item_small-special {
    display: flex;
    align-items: center;
    margin-right: 0;
    padding-right: 0;
  }

  .item_special-size {
    flex-basis: 74.45rem;
  }

  .item_special-move-left {
    padding: 0;
    margin: 0 0 0 -5.3rem;
  }

  .item_special-move {
    margin: 0 0 0 auto;
  }

  .link__name {
    display: block;
    margin-top: -1px;
  }

  .link__name_special-color {
    color: blue;
  }

  .link__name_headline {
    padding: 1.87rem 0 0.125rem 0;
    font-size: 1.5rem;
  }

  .link__name_headline-special {
    padding-top: 1.5625rem;
  }

  .name_special {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .group__item {
    display: flex;
    margin: 0 -1.25rem;
  }

  .group__item-special {
    margin: 0.15rem 0 0 -0.9375rem;
  }

  .group__item_special {
    padding-bottom: 0.65rem;
  }

  .link__name_special,
.link__name_text {
    font-size: 1rem;
  }

  .item_row {
    width: 26%;
    padding: 0 1.25rem;
  }

  .item_row-special {
    margin-left: 0;
  }
}
@media screen and (min-width: 80em) {
  .item {
    margin: 0 0.625rem;
    padding: 0 0.625rem;
  }

  .item_small-special {
    margin-right: 0;
    padding-right: 0;
  }

  .item_special-move {
    margin: 0 0 0 auto;
  }

  .item_special-move-left {
    padding: 0;
    margin: 0 0 0 -5rem;
  }

  .link__name_headline {
    line-height: 1.4;
    padding: 2.875rem 0 0.3em 0;
    font-size: 1.875rem;
  }

  .link__name_headline-special {
    padding-top: 2.625rem;
  }

  .group__item-special {
    margin: 0.25rem 0 0 -1.25rem;
  }

  .group__item_special {
    padding-bottom: 2.225rem;
  }

  .link__name_small {
    font-family: "futura-pt", sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
  }

  .name_small-special {
    margin: 1px 0 0 0;
    font-family: "futura-pt-medium", sans-serif;
    font-size: 1rem;
  }

  .link__name_special,
.link__name_text {
    font-size: 1.25rem;
  }

  .item_row {
    padding: 0 1.25rem;
  }
}
.pages__home {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100vw;
  position: relative;
}

.article {
  box-sizing: border-box;
  padding-bottom: 8.33333vw;
}
.article__one, .article__two, .article__three {
  position: relative;
  width: 100%;
  padding-bottom: 66.66667%;
}
.article__one {
  background: url("IMG/article__one.jpg") 50% 50%/cover no-repeat;
}
.article__text {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 8.33333vw;
  color: #FDF900;
  text-decoration: none;
  font-size: 1.25rem;
}
.article__text-name {
  display: block;
  white-space: pre-line;
}
.article__text-link {
  display: block;
  font-size: 0.875rem;
}
.article__text-link .text-link {
  background: linear-gradient(currentColor, currentColor) 0 1.05em/100% 2px no-repeat;
}
.article__text-link .text-link::after {
  content: "›";
  position: relative;
  left: 0.2em;
  display: inline-block;
  width: 0;
}
.article__two {
  background: url("IMG/article__two.jpg") 50% 50%/cover no-repeat;
}
.article__text_two {
  color: cyan;
}
.article__three {
  background: url("IMG/article__three.jpg") 50% 50%/cover no-repeat;
}
.article__text_three {
  color: #00FFAF;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 8.33333vw 4.16667vw 8.33333vw;
}
.blog__name {
  width: 100%;
  margin: 0 auto 1em 0;
  font-size: 1.25rem;
}
.blog__post {
  display: inline-block;
  width: 83.33333vw;
  margin-bottom: 8.33333vw;
}
.blog__post-link {
  text-decoration: none;
  color: inherit;
}
.blog__post-media {
  display: block;
  position: relative;
  background: url("IMG/media.jpg") center/cover;
  padding-bottom: 56.25%;
}
.blog__post-media_two {
  background: url("IMG/media_two.jpg") center/cover;
}
.blog__post-media_three {
  background: url("IMG/media_three.jpg") center/cover;
}
.blog__post-media_four {
  background: url("IMG/media__four.jpg") 50% 50%/cover no-repeat;
}
.blog__post-media_five {
  background: url("IMG/media__five.jpg") center/cover;
}
.blog__post-media_six {
  background: url("IMG/media__six.jpg") center/cover;
}
.blog__post-media_seven {
  position: relative;
  background: url("IMG/media__seven.jpg") 50% 50%/cover no-repeat;
}
.blog__post-media_eight {
  position: relative;
  background: url("IMG/media__eight.jpg") 50% 50%/cover no-repeat;
}
.blog__post-media_nine {
  position: relative;
  background: url("IMG/media__nine.jpg") 50% 50%/cover no-repeat;
}
.blog__post-media_ten {
  background: url("IMG/media__ten.jpg") 50% 50%/cover no-repeat;
}
.blog__post-media_eleven {
  position: relative;
  background: url("IMG/media__eleven.jpg") 50% 50%/cover no-repeat;
}
.blog__post-media_twelve {
  background: url("IMG/media__twelve.jpg") 50% 50%/cover no-repeat;
}
.blog__post-category {
  display: block;
  font-size: 0.875rem;
  color: #FF764D;
  margin-bottom: 0.2em;
  padding-top: 0.8rem;
}
.blog__post-category_two {
  color: #00A2B0;
}
.blog__post-category_three {
  color: #FF764D;
}
.blog__post-category_four {
  color: #00A2B0;
}
.blog__post-category_five {
  color: #6DCBFF;
}
.blog__post-category_six {
  color: #FED134;
}
.blog__post-text {
  display: block;
  font-size: 1rem;
  color: inherit;
}
.blog__post-text_special {
  padding-top: 0.8rem;
}
.blog__link {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: blue;
  text-decoration: none;
}
.blog__link::after {
  content: "›";
}

.media__video::before {
  content: "";
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  background: url("IMG/play_video.svg") center/60px 60px no-repeat;
}

.video-view {
  cursor: pointer;
}

.home-menu {
  padding: 8.33333vw;
  background-color: #eee;
  font-weight: bold;
}
.home-menu_special {
  display: none;
  margin-right: 2.08333vw;
  padding: 0;
  background-color: #fff;
}
.home-menu__list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  margin-right: 0.5em;
}
.list-item_special {
  font-size: 1.25rem;
  margin: 0 0 0 0.75em;
}
.list-item__link {
  text-decoration: none;
  color: blue;
}

@media screen and (min-width: 26.25em) {
  .article__text-name {
    font-size: 1.5rem;
  }

  .text-link {
    font-size: 1rem;
  }
}
@media screen and (min-width: 36em) {
  .article__text-name {
    font-size: 1.875rem;
    line-height: 1.4;
  }

  .text-link {
    font-size: 1.25rem;
  }

  .blog {
    flex-flow: row wrap;
    align-items: flex-start;
  }
  .blog__name {
    font-size: 1.875rem;
    line-height: 1.4;
  }
  .blog__post {
    width: 39.58333vw;
    margin-top: 0;
    margin-bottom: 4.16667vw;
  }

  .home-menu_blog {
    padding-top: 4.16667vw;
    padding-bottom: 4.16667vw;
    margin-top: 2.08333vw;
  }

  .home-menu__list_special {
    justify-content: center;
  }

  .list-item_blog {
    margin-right: 0.75em;
  }

  .list-item_blog-special,
.list-item_blog-last {
    margin-left: 0.75em;
  }

  .list-item_blog-last {
    margin-right: 0;
  }
}
@media screen and (min-width: 48em) {
  .article__container-one {
    width: 58.33333vw;
    float: left;
  }

  .article__container-two {
    width: 33.33333vw;
    margin-top: 16.66667vw;
    float: right;
  }

  .article__container-three {
    position: relative;
    width: 33.33333vw;
    margin: -4.16667vw 25vw 0 0;
    z-index: 1;
    float: right;
    clear: both;
  }

  .article__text {
    padding: 4.16667vw;
  }

  .article__text_two,
.article__text_three {
    padding: 2.08333vw;
  }

  .article__text-name {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .article__text-name_two,
.article__text-name_three {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .text-link {
    font-size: 1.5rem;
  }

  .text-link_two,
.text-link_three {
    font-size: 1rem;
  }

  .blog {
    padding-bottom: 2.08333vw;
  }
  .blog__name {
    width: 80%;
  }
  .blog__link {
    order: 1;
    width: auto;
    margin-top: 7px;
    font-size: 1.25rem;
  }
  .blog__post {
    order: 2;
  }

  .list-item__link,
.list-item_blog,
.list-item_blog-special {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 48em) {
  .article__one {
    margin-bottom: 8.33333vw;
  }

  .article__two {
    margin-bottom: 8.33333vw;
  }

  .article__container-two {
    width: 91.66667vw;
    margin-left: 8.33333vw;
  }

  .article__container-three {
    width: 91.66667vw;
    margin-top: -16.66667vw;
  }
}
@media screen and (min-width: 64em) {
  .blog__name_special {
    width: auto;
  }

  .blog__post {
    width: 25vw;
  }

  .blog__link {
    margin-top: 10px;
  }

  .blog__link_special {
    display: none;
  }

  .home-menu_special {
    order: 1;
    display: block;
    margin: 0.91vw 0 0 0;
  }

  .list-item_blog-last {
    margin-left: 0;
    margin-right: 0.75em;
  }
}
@media screen and (min-width: 70.25em) {
  .blog__name {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .blog__post-text {
    font-size: 1.25rem;
  }

  .list-item_blog-last {
    margin: 0 0.75em 0 0;
  }
}
@media screen and (min-width: 80em) {
  .blog__link {
    margin-top: 12px;
    font-size: 1.5rem;
  }

  .article__text-name {
    font-size: 3.75rem;
    line-height: 1.1;
  }

  .article__text-name_two,
.article__text-name_three {
    font-size: 1.875rem;
    line-height: 1.4;
  }

  .article__text-link {
    font-size: 1.5rem;
    margin-top: 0.25em;
  }

  .article__text-link_two,
.article__text-link_three {
    font-size: 1.25rem;
    margin: 0;
  }

  .text-link_two,
.text-link_three {
    font-size: 1.25rem;
  }

  .list-item_special,
.list-item__link,
.list-item_blog-special,
.list-item__link,
.list-item_blog,
.list-item_blog-special {
    font-size: 1.5rem;
  }

  .home-menu_special {
    margin-top: 12px;
  }
}
@media screen and (min-width: 100em) {
  .pages__home {
    width: 1600px;
  }

  .article {
    padding-bottom: 133.33333px;
  }

  .article__container-one {
    width: 933.33333px;
  }

  .article__container-two {
    width: 533.33333px;
    margin-top: 266.66667px;
  }

  .article__container-three {
    width: 533.33333px;
    margin: -66.66667px 400px 0 0;
  }

  .article__text {
    padding: 66.66667px;
  }

  .article__text_two,
.article__text_three {
    padding: 33.33333px;
  }

  .article__text-name_two,
.article__text-name_three {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .article__text-link {
    font-size: 1.875rem;
    line-height: 1.4;
  }

  .article__text-link_two,
.article__text-link_three {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .text-link {
    font-size: 1.875rem;
    line-height: 1.4;
  }

  .text-link_two,
.text-link_three {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .blog {
    padding: 0 133.33333px 33.33333px 133.33333px;
  }

  .blog__post {
    width: 400px;
    margin-bottom: 66.66667px;
  }

  .home-menu_blog {
    padding: 66.66667px 133.33333px;
    margin-top: 33.33333px;
  }
}
@media screen and (min-width: 26.25em) {
  .article__one {
    background: url("IMG/article__one_26.25.jpg") 50% 50%/cover no-repeat;
  }

  .article__two {
    background: url("IMG/article__two_26.25.jpg") 50% 50%/cover no-repeat;
  }

  .article__three {
    background: url("IMG/article__three_26.25.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_four {
    background: url("IMG/blog__post-media_four_26.25.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_five {
    background: url("IMG/blog__post-media_five_26.25.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_six {
    background: url("IMG/blog__post-media_six_26.25.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_seven {
    background: url("IMG/blog__post-media_seven_26.25.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eight {
    background: url("IMG/blog__post-media_eight_26.25.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_nine {
    background: url("IMG/blog__post-media_nine_26.25.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_ten {
    background: url("IMG/blog__post-media_ten_26.25.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eleven {
    background: url("IMG/blog__post-media_eleven_26.25.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_twelve {
    background: url("IMG/blog__post-media_twelve_26.25.jpg") 50% 50%/cover no-repeat;
  }
}
@media screen and (min-width: 36em) {
  .article__one {
    background: url("IMG/article__one_36.jpg") 50% 50%/cover no-repeat;
  }

  .article__two {
    background: url("IMG/article__two_36.jpg") 50% 50%/cover no-repeat;
  }

  .article__three {
    background: url("IMG/article__three_36.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_four {
    background: url("IMG/blog__post-media_four_36.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_five {
    background: url("IMG/blog__post-media_five_36.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_six {
    background: url("IMG/blog__post-media_six_36.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_seven {
    background: url("IMG/blog__post-media_seven_36.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eight {
    background: url("IMG/blog__post-media_eight_36.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_nine {
    background: url("IMG/blog__post-media_nine_36.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_ten {
    background: url("IMG/blog__post-media_ten_36.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eleven {
    background: url("IMG/blog__post-media_eleven_36.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_twelve {
    background: url("IMG/blog__post-media_twelve_36.jpg") 50% 50%/cover no-repeat;
  }
}
@media screen and (min-width: 48em) {
  .article__one {
    background: url("IMG/article__one_48.jpg") 50% 50%/cover no-repeat;
  }

  .article__two {
    background: url("IMG/article__two_48.jpg") 50% 50%/cover no-repeat;
  }

  .article__three {
    background: url("IMG/article__three_48.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_four {
    background: url("IMG/blog__post-media_four_48.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_five {
    background: url("IMG/blog__post-media_five_48.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_six {
    background: url("IMG/blog__post-media_six_48.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_seven {
    background: url("IMG/blog__post-media_seven_48.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eight {
    background: url("IMG/blog__post-media_eight_48.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_nine {
    background: url("IMG/blog__post-media_nine_48.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_ten {
    background: url("IMG/blog__post-media_ten_48.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eleven {
    background: url("IMG/blog__post-media_eleven_48.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_twelve {
    background: url("IMG/blog__post-media_twelve_48.jpg") 50% 50%/cover no-repeat;
  }
}
@media screen and (min-width: 64em) {
  .article__one {
    background: url("IMG/article__one_64.jpg") 50% 50%/cover no-repeat;
  }

  .article__two {
    background: url("IMG/article__two_64.jpg") 50% 50%/cover no-repeat;
  }

  .article__three {
    background: url("IMG/article__three_64.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_four {
    background: url("IMG/blog__post-media_four_64.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_five {
    background: url("IMG/blog__post-media_five_64.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_six {
    background: url("IMG/blog__post-media_six_64.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_seven {
    background: url("IMG/blog__post-media_seven_64.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eight {
    background: url("IMG/blog__post-media_eight_64.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_nine {
    background: url("IMG/blog__post-media_nine_64.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_ten {
    background: url("IMG/blog__post-media_ten_64.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eleven {
    background: url("IMG/blog__post-media_eleven_64.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_twelve {
    background: url("IMG/blog__post-media_twelve_64.jpg") 50% 50%/cover no-repeat;
  }
}
@media screen and (min-width: 80em) {
  .article__one {
    background: url("IMG/article__one_80.jpg") 50% 50%/cover no-repeat;
  }

  .article__two {
    background: url("IMG/article__two_80.jpg") 50% 50%/cover no-repeat;
  }

  .article__three {
    background: url("IMG/article__three_80.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_four {
    background: url("IMG/blog__post-media_four_80.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_five {
    background: url("IMG/blog__post-media_five_80.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_six {
    background: url("IMG/blog__post-media_six_80.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_seven {
    background: url("IMG/blog__post-media_seven_80.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eight {
    background: url("IMG/blog__post-media_eight_80.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_nine {
    background: url("IMG/blog__post-media_nine_80.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_ten {
    background: url("IMG/blog__post-media_ten_80.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eleven {
    background: url("IMG/blog__post-media_eleven_80.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_twelve {
    background: url("IMG/blog__post-media_twelve_80.jpg") 50% 50%/cover no-repeat;
  }
}
@media screen and (min-width: 100em) {
  .article__one {
    background: url("IMG/article__one_100.jpg") 50% 50%/cover no-repeat;
  }

  .article__two {
    background: url("IMG/article__two_100.jpg") 50% 50%/cover no-repeat;
  }

  .article__three {
    background: url("IMG/article__three_100.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_four {
    background: url("IMG/blog__post-media_four_100.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_five {
    background: url("IMG/blog__post-media_five_100.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_six {
    background: url("IMG/blog__post-media_six_100.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_seven {
    background: url("IMG/blog__post-media_seven_100.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eight {
    background: url("IMG/blog__post-media_eight_100.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_nine {
    background: url("IMG/blog__post-media_nine_100.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_ten {
    background: url("IMG/blog__post-media_ten_100.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eleven {
    background: url("IMG/blog__post-media_eleven_100.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_twelve {
    background: url("IMG/blog__post-media_twelve_100.jpg") 50% 50%/cover no-repeat;
  }
}
@media screen and (min-width: 120em) {
  .article__one {
    background: url("IMG/article__one_120.jpg") 50% 50%/cover no-repeat;
  }

  .article__two {
    background: url("IMG/article__two_120.jpg") 50% 50%/cover no-repeat;
  }

  .article__three {
    background: url("IMG/article__three_120.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_four {
    background: url("IMG/blog__post-media_four_120.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_five {
    background: url("IMG/blog__post-media_five_120.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_six {
    background: url("IMG/blog__post-media_six_120.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_seven {
    background: url("IMG/blog__post-media_seven_120.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eight {
    background: url("IMG/blog__post-media_eight_120.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_nine {
    background: url("IMG/blog__post-media_nine_120.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_ten {
    background: url("IMG/blog__post-media_ten_120.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eleven {
    background: url("IMG/blog__post-media_eleven_120.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_twelve {
    background: url("IMG/blog__post-media_twelve_120.jpg") 50% 50%/cover no-repeat;
  }
}
@media screen and (min-width: 140em) {
  .article__one {
    background: url("IMG/article__one_140.jpg") 50% 50%/cover no-repeat;
  }

  .article__two {
    background: url("IMG/article__two_140.jpg") 50% 50%/cover no-repeat;
  }

  .article__three {
    background: url("IMG/article__three_140.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_four {
    background: url("IMG/blog__post-media_four_140.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_five {
    background: url("IMG/blog__post-media_five_140.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_six {
    background: url("IMG/blog__post-media_six_140.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_seven {
    background: url("IMG/blog__post-media_seven_140.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eight {
    background: url("IMG/blog__post-media_eight_140.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_nine {
    background: url("IMG/blog__post-media_nine_140.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_ten {
    background: url("IMG/blog__post-media_ten_140.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_eleven {
    background: url("IMG/blog__post-media_eleven_140.jpg") 50% 50%/cover no-repeat;
  }

  .blog__post-media_twelve {
    background: url("IMG/blog__post-media_twelve_140.jpg") 50% 50%/cover no-repeat;
  }
}
.page-footer {
  max-width: 100rem;
  background-color: #fff;
  box-sizing: border-box;
}
.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  padding: 0 8.33333vw;
}
.page-footer__container-content {
  box-sizing: border-box;
  padding-top: 8.33333vw;
}

.content {
  box-sizing: border-box;
}

.wordmark,
.sign-up,
.social,
.education,
.community,
.distributors,
.contact-us__others-info,
.language-location {
  box-sizing: border-box;
  padding-bottom: 8.33333vw;
}

.wordmark__image {
  box-sizing: border-box;
  width: 122px;
}

.sign-up__text {
  font-family: "futura-pt", sans-serif;
  font-weight: normal;
}

.sign-up__mail {
  margin-top: 1em;
}

.mail {
  display: flex;
}
.mail__container {
  flex: 1;
}
.mail__input {
  width: 100%;
  border: 0;
  padding: 0.4em 0.75em;
  box-sizing: border-box;
  font-family: "futura-pt", sans-serif;
  font-size: inherit;
  font-weight: normal;
  background-color: #eee;
  outline: none;
  user-select: none;
}
.mail__send {
  padding: 0.35em 1.5em;
  border: 0;
  white-space: pre;
  font-family: "futura-pt-medium", sans-serif;
  font-size: inherit;
  color: #fff;
  background: blue;
  cursor: pointer;
}

::placeholder {
  color: #949494;
  opacity: 0.5;
}

.social__list,
.education__list,
.community__list,
.distributors__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.social__list-item,
.education__list-item,
.community__list-item,
.distributors__list-item {
  list-style: none;
}

.social__list-item__link,
.education__list-item__link,
.community__list-item__link,
.distributors__list-item__link {
  text-decoration: none;
  font-family: "futura-pt", sans-serif;
  font-weight: normal;
  color: #000;
}

.social__list-item__link::after,
.education__list-item__link::after,
.community__list-item__link::after,
.distributors__list-item__link::after {
  content: " ›";
}

.social__network {
  display: flex;
}
.social__network-link {
  display: block;
  font-size: 0;
}
.social__network-link__image {
  width: 2rem;
  height: 2rem;
  margin: 0.625rem 0.625rem 0 0;
}

.image_fb {
  background-color: #455A97;
}

.image_tw {
  background-color: #4AAAE8;
}

.image_yt {
  background-color: #C81E25;
}

.container__language-location {
  box-sizing: border-box;
  margin-top: 0.75em;
  font-size: 0.875rem;
  font-weight: normal;
}

.container__language,
.container__location {
  display: inline-block;
  box-sizing: border-box;
  margin-right: -1.5px;
  max-width: 200px;
}

.language,
.location {
  position: relative;
}

.language::after,
.location::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background: url("IMG/arrow_lang_loc.svg") no-repeat;
  background-position: 50% 50%;
  background-color: #eee;
  pointer-events: none;
}

.language-choice,
.location-choice {
  width: 100%;
  height: 1.875rem;
  margin: 0;
  border: 0;
  padding: 0.35em 50px 0.35em 0.75em;
  background-color: #eee;
  font-family: "futura-pt-medium", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.others-menu__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.others-item {
  margin: 0 1em 0.5em 0;
  font-size: 0.875rem;
  font-weight: bold;
}
.others-item__link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
}

.logo-signature {
  display: flex;
  align-items: center;
  margin-top: 8.33333vw;
  width: 100%;
  font-size: 1rem;
  font-weight: normal;
}

.logo {
  max-width: 100%;
}

.signature {
  margin-left: 1em;
  font-size: 0.875rem;
  font-weight: bold;
}

@media screen and (min-width: 26.25em) {
  .social__network-link__image {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media screen and (min-width: 36em) {
  .wordmark,
.sign-up,
.social,
.education,
.community,
.distributors,
.language-location {
    padding-bottom: 4.16667vw;
  }
}
@media screen and (min-width: 64em) {
  .wordmark {
    width: 100%;
    padding-right: 0.625rem;
  }

  .wordmark__image {
    width: 188px;
  }

  .content {
    display: flex;
    flex-flow: row wrap;
  }

  .social,
.education,
.community,
.distributors,
.language-location {
    width: 30%;
    padding-right: 0.625rem;
  }

  .sign-up,
.language-location {
    width: 40%;
  }

  .sign-up {
    order: 1;
  }

  .others-menu__list {
    width: auto;
    flex-direction: row;
    margin-top: 1rem;
  }

  .logo-signature {
    flex-direction: row-reverse;
    width: auto;
    margin: 1rem 0 0 auto;
  }

  .signature {
    margin-left: 0;
    margin-right: 1em;
  }

  .contact-us__others-info {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .others-item {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 80em) {
  .content {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 100em) {
  .page-footer__container {
    padding: 0 133.33333px;
  }
  .page-footer__container-content {
    padding-top: 133.33333px;
  }

  .contact-us__others-info {
    padding-bottom: 133.33333px;
  }

  .wordmark,
.sign-up,
.social,
.education,
.community,
.distributors,
.language-location {
    padding-bottom: 66.66667px;
  }
}

/*# sourceMappingURL=ableton.css.map */
