$color-main: #000;
$background-color-main:#fff;

$color-additional: #fff;
$background-color-additional:#F3F3F3;
$background-color-special:blue;

$color-article__text-one:#FDF900;
$color-article__text-two:cyan;
$color-article__text-three:#00FFAF;

$color-blog__post-category_downloads:#FF764D;
$color-blog__post-category_tutorials:#00A2B0;
$color-blog__post-category_artists:#FED134;
$color-blog__post-category_loop:#6DCBFF;

$link_active:#FF764D;
$background-color__collage-one:#FBFFA7;
$background-color__collage-two:#B6FFC0;
$background-color__collage-three:#D5B3FF;
$background-color__jobs:#B1C5FF;

$background__shop-panel_one:#FED134;
$background__shop-panel_two:#C7C8CA;
$background-color__buy__block__header-one:#6A6C82;
$background-color__buy__block__main-one:#3B3845;
$background-color__buy__block__header-two:#18B2CD;
$background-color__buy__block__main-two:#0799D6;
$color__buy__block__main__price-new:#FBFFA7;